:root {
  --accent-color: #2196F3;
}

.header-container {
  display: flex;
}

.navigation {
  display: flex;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo-link {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 88px;
}

.logo-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo-text-itom {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo-link {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 92px;
  }
  .logo-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
  }
  .logo-text-itom {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
  }
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
  }
  .mobile-menu-list {
    position: absolute;
    bottom: 48px;
  }
  .mobile-menu_link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-menu_link:hover, .mobile-menu_link:focus {
    color: var(--accent-color);
  }
  .mobile-menu_container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    height: 100%;
  }
  .mobile-menu_cloose-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .mobile-menu_cloose-btn:hover {
    fill: var(--accent-color);
  }
  .mobile-menu_cloose-btn-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu_nav {
    margin-bottom: 302px;
    z-index: 99;
  }
  .mobile-menu_contacts {
    margin-bottom: 64px;
  }
  .mobile-menu_contacts__tel {
    margin-bottom: 30px;
  }
  .mobile-menu_item {
    margin-bottom: 30px;
  }
  .mobile-menu_contacts__tel-smartphone {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu_contacts__mail-envelope {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu_social-list {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-menu_social-list-link {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu_cloose-btn {
    display: none;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opaciti 250ms linear,  visibiliti 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 582px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.modal-close-button:hover {
  fill: var(--accent-color);
}

.modal-close-button-icon {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal-form-messedge {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.modal-form-messedge:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-messedge::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  display: block;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
  outline: none;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-checkbox-policy {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-checkbox-policy::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 11px;
  vertical-align: middle;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../images/icon-check.svg);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  border: none;
}

.modal-form-policy-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

.modal-form-btn {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 30px;
}

.header {
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  border-bottom: 1px solid #ECECEC;
  height: 80px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__itom:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms linear,  background-color 250ms linear;
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link-studio,
.menu__link-portfolio,
.menu__link__contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms linear,  background-color 250ms linear;
}

.menu__link-studio {
  position: static;
  border: 0px;
}

.menu__link-studio::after {
  position: absolute;
  display: block;
  content: "";
  width: 49px;
  height: 5px;
  background-color: #2196F3;
  border-radius: 2px;
  margin-top: 27px;
}

.menu__link-portfolio {
  position: static;
}

.menu__link-portfolio::after {
  position: absolute;
  display: block;
  content: "";
  width: 78px;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  margin-top: 26px;
}

.menu__link__contacts {
  position: static;
}

.menu__link__contacts::after {
  position: absolute;
  display: block;
  content: "";
  width: 83px;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  margin-top: 26px;
}

.menu__link-studio:hover,
.menu__link-portfolio:hover,
.menu__link__contacts:hover
.menu__link-studio:focus,
.menu__link-portfolio:focus,
.menu__link__contacts:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.mail-envelope {
  margin-right: 7px;
  width: 16px;
  height: 12px;
  fill: #757575;
}

.contacts__mail-envelope:hover .mail-envelope,
.contacts__mail-envelope:focus .mail-envelope {
  fill: var(--accent-color);
}

.contacts__mail-envelope {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}

.contacts__mail-envelope:hover, .contacts__mail-envelope:focus {
  color: var(--accent-color);
}

.contacts__tel {
  margin-left: 30px;
}

.tel-smartphone {
  width: 14px;
  height: 20px;
  fill: #757575;
  margin-right: 7px;
}

.contacts__tel-smartphone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.contacts__tel-smartphone:hover .tel-smartphone,
.contacts__tel-smartphone:focus .tel-smartphone {
  fill: var(--accent-color);
}

.contacts__tel-smartphone:hover, .contacts__tel-smartphone:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
  .header_mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .header_mobile-menu-icon {
    width: 24px;
    height: 16px;
  }
  .header {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .header_container {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header_mobile-menu-btn {
    display: none;
  }
  .header_mobile-menu-icon {
    display: none;
  }
  .contacts__tel {
    margin-left: 0;
  }
  .contacts {
    align-content: center;
    justify-content: flex-start;
    margin-left: 84px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header_container {
    justify-content: flex-start;
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
  }
  .mail-envelope {
    margin-right: 7px;
    width: 16px;
    height: 12px;
    fill: #757575;
  }
  .contacts__mail-envelope:hover .mail-envelope,
  .contacts__mail-envelope:focus .mail-envelope {
    fill: var(--accent-color);
  }
  .contacts__mail-envelope {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
  }
  .contacts__mail-envelope:hover, .contacts__mail-envelope:focus {
    color: var(--accent-color);
  }
  .contacts__tel {
    margin-left: 30px;
  }
  .tel-smartphone {
    width: 14px;
    height: 20px;
    fill: #757575;
    margin-right: 7px;
  }
  .contacts__tel-smartphone {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
  }
  .contacts__tel-smartphone:hover .tel-smartphone,
  .contacts__tel-smartphone:focus .tel-smartphone {
    fill: var(--accent-color);
  }
  .contacts__tel-smartphone:hover, .contacts__tel-smartphone:focus {
    color: var(--accent-color);
  }
}

.hero-container__modal-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #188CE8;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding-left: 30px;
  transition: color 250ms linear, background-color 250ms linear;
}

.hero-container__modal-btn:hover, .hero-container__modal-btn:focus {
  background-color: #2196F3;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(164, 165, 172, 0.4)), url(../images/hero/mob/mob-hero1x.jpg);
    background-size: cover;
    background-color: #C4C4C4;
  }
  .hero-container {
    padding-top: 118px;
  }
  .hero-container-title {
    width: 360px;
    height: 84px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .hero-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(164, 165, 172, 0.4)), url(../images/hero/tab/tab-hero1x.jpg);
    background-size: cover;
    background-color: #C4C4C4;
  }
  .hero-container {
    padding-top: 118px;
  }
  .hero-container-title {
    width: 360px;
    height: 84px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .hero-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(164, 165, 172, 0.4)), url(../images/hero/desk/desk-hero1x.jpg);
    background-size: cover;
    background-color: #C4C4C4;
  }
  .hero-container {
    padding-top: 200px;
  }
  .hero-container-title {
    width: 696px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .hero-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.about-us-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-us-title-itom {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-us-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.box-list-icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .about-us-title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .boxs {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .box-bottom {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about-us {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .box-first,
  .box-second,
  .box-third,
  .box-fourth {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .box-list {
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .box-list-atom {
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .boxs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .box-first,
  .box-second,
  .box-third,
  .box-fourth {
    width: 354px;
    height: 252px;
  }
}

@media screen and (min-width: 768px) {
  .box-list {
    width: 354px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .box-list-atom {
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .boxs {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-container {
    width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .box-first,
  .box-second,
  .box-third,
  .box-fourth {
    width: 270px;
    height: 252px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .box-list {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .box-list-atom {
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 1199px) {
  .projects {
    display: none;
  }
}

.projects {
  padding-top: 47px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.projects-section-list {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 50px;
}

.projects-section-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-section-img-list {
  width: 370px;
  height: 294px;
  position: relative;
}

.projects-section-img-item {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
}

.our-team-list-itom {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.our-team-box {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-position {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-list-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: color 250ms linear, background-color 250ms linear;
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #FFFFFF;
}

.our-team-list {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .our-team {
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: 3000px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .our-team-text {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .our-team-box {
    height: 100%;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .our-team-img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .our-team-img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .our-team-list-itom-img {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .our-team-list-itom {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .our-team-list-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 368px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .our-team-img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .our-team {
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-container {
    height: 1255px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-box {
    height: 536px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-text {
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 374px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .our-team-img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list-itom-img {
    width: 354px;
    height: 536px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list {
    font-size: 33px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-container {
    height: 520px;
  }
}

.our-team-list-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 368px;
  margin-left: auto;
  margin-right: auto;
}

.our-team-text {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.list-itom {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .our-team-box {
    height: 428px;
  }
}

.our-team-img {
  width: 100%;
}

.clients-text {
  font-family: Roboto;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 30px;
}

.client {
  margin-bottom: 30px;
}

.client-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms linear, background-color 250ms linear;
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: var(--accent-color);
}

.client-list-link:hover, .client-list-link:focus {
  border-color: var(--accent-color);
}

.client-list-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

@media screen and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .client {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .client {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .client-atom {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    width: 170px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .client-atom {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-text {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.footer-logo-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer-logo-text-itom {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.maps-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 0px;
}

.maps-link:hover, .maps-link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
  text-align: center;
}

.footer-title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 20px;
}

.email-input-text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 0px;
}

.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.footer-tel:hover, .footer-tel:focus {
  color: var(--accent-color);
}

.footer-social-list-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms linear, background-color 250ms linear;
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: #FFFFFF;
}

.footer-social-list-atom {
  margin-right: 10px;
}

.email-input {
  width: 450px;
  height: 156px;
}

@media screen and (max-width: 767px) {
  .footer-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: #2F303A;
  }
}

@media screen and (max-width: 767px) {
  .footer-logo {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-menu-link-list {
    margin-bottom: 9px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-social-list {
    width: 206px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .email-input-text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .email-form-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .email-form-input {
    position: static;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .email-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

@media screen and (max-width: 767px) {
  .email-form-btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-left: 29px;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .email-form-input-icon {
    position: absolute;
    transform: translate(-122px, 83px);
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: #2F303A;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-menu-link-list {
    margin-bottom: 9px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-social-list {
    padding-top: 5px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 768px) {
  .email-input-text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .email-form-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .email-form-input {
    position: static;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .email-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

@media screen and (min-width: 768px) {
  .email-form-btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-left: 29px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .email-form-input-icon {
    position: absolute;
    transform: translate(-122px, 83px);
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .email-input {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-bottom: 20px;
    text-align: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-list {
    padding-top: 12px;
    margin-left: 70px;
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .email-input {
    width: 570px;
    height: 86px;
  }
}

@media screen and (min-width: 1200px) {
  .email-form-field {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .email-input-text {
    text-align: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .footer-navigation {
    display: flex;
    width: 225px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-menu-link-list {
    margin-bottom: 9px;
    text-align: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .email-form-input {
    position: static;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .email-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

@media screen and (min-width: 1200px) {
  .email-form-btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-left: 29px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .email-form-input-wrapper {
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .email-form-input-icon {
    position: absolute;
    transform: translate(165px, 12px);
    width: 24px;
    height: 24px;
  }
}

.portfolio-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  background: #F5F4FA;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 8px;
  border: 0px;
  transition: color 250ms linear, background-color 250ms linear;
}

.button:hover, .button:focus {
  background: #2196F3;
  cursor: pointer;
  color: #FFFFFF;
}

.button:nth-last-child() {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .button-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .button {
    margin-bottom: 15px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.cards-boxs {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: 370px;
}

.cards-itom {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0px;
  margin-bottom: 4px;
}

.cards-product {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.cards-text {
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-top: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cards-box {
  flex-basis: 370px;
  box-shadow: 0 0 0 0;
  cursor: pointer;
}

.cards-box:hover, .cards-box:focus {
  box-shadow: 5px 5px 5px #E5E5E5;
}

.cards-box:hover .overley {
  transform: translateY(0%);
}

.overley {
  top: 0;
  left: 0;
  position: absolute;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 294px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.cards-wrapper {
  position: relative;
  padding: 0px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .cards-boxs {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: 354px;
    width: 354px;
  }
  .cards-text {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-top: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 352px;
  }
  .cards-box {
    width: 354px;
    flex-basis: 370px;
    box-shadow: 0 0 0 0;
    cursor: pointer;
  }
  .cards-box:hover, .cards-box:focus {
    box-shadow: 5px 5px 5px #E5E5E5;
  }
  .cards-box:hover .overley {
    transform: translateY(0%);
  }
  .overley {
    top: 0;
    left: 0;
    position: absolute;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    height: 294px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms linear;
  }
  .cards-wrapper {
    position: relative;
    padding: 0px;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .cards-itom-text {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    padding-bottom: 60px;
  }
}
/*# sourceMappingURL=main.css.map */